header {
	height: 100vh;
	text-align: center;
	background: url(../assets/rsz_matt-botsford-197870-unsplash.jpg);
	background-color: #64485c;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.subtitle {
	font-size: 3.2rem;
	margin: 20px 0px;
}

.linkToSearch {
	width: 200px;
	margin: 15vh auto;
}

.linkToSearch:hover .chevron,
.linkToSearch:hover p {
	color: #83677b;
	fill: #83677b;
}

.chevron {
	width: 80px;
	fill: white;
	animation: bounce 4s;
	animation-iteration-count: infinite;
}
/* ANIMATIONS */

@keyframes bounce {
	0%,
	25%,
	50%,
	75%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-20px);
	}
	60% {
		transform: translateY(-12px);
	}
}

@media (max-width: 850px) {
	h1 {
		font-size: 7rem;
	}
}

@media (max-width: 600px) {
	h1 {
		font-size: 5rem;
	}
	.subtitle {
		font-size: 2rem;
	}
}

@media (max-width: 400px) {
	h1 {
		font-size: 4rem;
	}
}
