/* Normalize */

html {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
	margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
	display: block;
}
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
figcaption,
figure,
main {
	display: block;
}
figure {
	margin: 1em 40px;
}
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}
pre {
	font-family: monospace, monospace;
	font-size: 1em;
}
a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}
abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}
b,
strong {
	font-weight: inherit;
}
b,
strong {
	font-weight: bolder;
}
code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}
dfn {
	font-style: italic;
}
mark {
	background-color: #ff0;
	color: #000;
}
small {
	font-size: 80%;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
audio,
video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
img {
	border-style: none;
}
svg:not(:root) {
	overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}
button,
input {
	overflow: visible;
}
button,
select {
	text-transform: none;
}
button,
html [type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
	outline: 1px dotted ButtonText;
}
fieldset {
	padding: 0.35em 0.75em 0.625em;
}
legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}
progress {
	display: inline-block;
	vertical-align: baseline;
}
textarea {
	overflow: auto;
}
[type='checkbox'],
[type='radio'] {
	box-sizing: border-box;
	padding: 0;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
	height: auto;
}
[type='search'] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
details,
menu {
	display: block;
}
summary {
	display: list-item;
}
canvas {
	display: inline-block;
}
template {
	display: none;
}
[hidden] {
	display: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: ' ';
	clear: both;
	height: 0;
}
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Global STYLES */

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
	background: linear-gradient(45deg, #64485c, #501b1d);
	color: white;
	line-height: 1.6;
}

.App {
	font-family: 'Roboto', sans-serif;
}

.wrapper {
	max-width: 900px;
	margin: 0 auto;
	padding: 0px 15px;
}

img {
	max-width: 100%;
	display: block;
}

main {
	text-align: center;
}
main section {
	text-align: left;
}

/* TYPOGRAPHY */

h1,
h2,
p,
li,
ul,
figure {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1 {
	padding-top: 25vh;
	font-size: 9.6rem;
	font-family: 'Monoton', cursive;
}

h2 {
	font-size: 3.2rem;
	font-weight: bold;
}

p,
button,
input,
label,
a {
	font-size: 2rem;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: #501b1d;
}

.centerText {
	text-align: center;
	padding: 30px 0px;
}

/* Button styling */

.button {
	padding: 10px 50px;
	background: #2e1114;
	color: white;
	border: none;
	border-radius: 5px;
	margin: 0 auto;
	cursor: pointer;
}

.button:hover {
	color: #2e1114;
	background: #83677b;
}

/* Classes for expanding description on cards */

.descriptionClosed {
	overflow: hidden;
	height: 70px;
}

.closedIcon {
	display: none;
}

.svgIcon {
	filter: invert(100%) sepia(94%) saturate(0%) hue-rotate(194deg) brightness(105%) contrast(105%);
}

/* Css Loader styles taken directly from https://loading.io/css/ */
.lds-ring {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
	margin-top: 50px;
}
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid #fff;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media (max-width: 800px) {
	.descriptionClosed {
		overflow: hidden;
		height: 90px;
	}
}

@media (max-width: 550px) {
	.descriptionClosed {
		overflow: hidden;
		height: 130px;
	}
}

@media (max-width: 450px) {
	.descriptionClosed {
		overflow: hidden;
		height: 160px;
	}
}
